[Unit]
Description=Vacancy service
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/jvm/java-17-openjdk-amd64/bin/java -Dserver.port=8443 -jar /home/vasi/temp/vacancy/vacancy_backend-0.0.1-SNAPSHOT.jar
TimeoutStartSec=0

[Install]
WantedBy=default.target